.sidebar {
  padding-top: 115px;
}

.sidebar-block > ul > li {
  font-family: "Muli-Regular";
  font-size: 16px;
  color: #8799a3;
  width: 243px;
  padding-left: 8px;
}
.sidebar-block > ul > li:not(:last-child) {
  margin-bottom: 12px;
}
.sidebar-block > ul > li:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #cccccc;
  margin-top: 20px;
}
