.top-info-inner {
  padding: 15px 0;
  font-family: "Muli-Regular";
}
.top-info-inner > span {
  font-size: 15px;
  color: #0a0909;
}
.email {
  margin-right: 79px;
}

.email > img {
  margin-right: 22px;
}
.phone > img {
  margin-right: 11px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.social-icons > i {
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.top-info {
  position: relative;
}
.top-info::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  background-color: #c9c9c9;
}
.f-t:hover {
  color: #4267b2;
}
.t-t:hover {
  color: #00acee;
}
.g-t:hover {
  color: #db4a39;
}
.l-t:hover {
  color: #0072b1;
}
