.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
.containerarticle {
  max-width: 1167px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
